{% extends 'core/base.html' %}

{% block content %}
  <h1>Create Subscription</h1>
<form action="{% url 'create_subscription' %}" method="post">
  {% csrf_token %}

    <label for="">Plan 1 - 10000 1month</label>
    <input type="radio" name="plan" id="plan" value="10000" required> <br>

    <label for="">Plan 2 - 20000 2months</label>
    <input type="radio" name="plan" id="plan" value="20000" required> <br>

    <label for="">Plan 3 - 30000 3months</label>
    <input type="radio" name="plan" id="plan" value="30000" required> <br>

    <button type="submit">Subscribe</button>


</form>
{% endblock %}
