{% extends 'core/base.html' %}

{% block title %}
    My Store
{% endblock %}

{% block content %}  
    <h1 class = "text-2xl">My Store</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800 rounded-md">{{message}}</div>
        {% endfor %}
    {% endif %}


<!--{% comment %}
    <h2 class="mt-6 text-xl">My orders</h2>
    
    <div class="flex flex-wrap">
        <div class="w-1/4">
            <strong>Order ID</strong>
        </div>

        <div class="w-1/4">
            <strong>Title</strong>
        </div>

        <div class="w-1/4">
                <strong>Quantity</strong>
        </div>

        <div class="w-1/4">
            <strong>Price</strong>
        </div>
    </div>
    {%  for order_item in order_items  %}
        <div class="flex flex-wrap">
            <div class="w-1/4">
               <a href="{% url 'my_store_order_detail' order_item.order.id %}">{{order_item.order.id}}</a>
            </div>
            <div class="w-1/4">
                {{order_item.product.title}}
            </div>

            <div class="w-1/4">
                {{order_item.quantity}}
            </div>

            <div class="w-1/4">
                ₦{{order_item.price}}
            </div>
        </div>
        
    {% endfor %}
    <hr>
    {% endcomment %}
-->

    <!--MY products-->
    
    <a href="{% url 'add_product' %}" class="mt-6 py-4 px-8 bg-teal-500 text-white no-underline inline-block">Add Product</a>
    <h2 class="mt-6 text-xl">My Products</h2>
    
        {% if products %}
        <div class="bg-gray-100">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            {% for product in products %}
            <a href="{% url 'edit_product' product.pk %}" class="group no-underline shadow-sm">
                <div class="aspect-w-1 aspect-h-1 sm:aspect-w-1 sm:aspect-h-1 md:aspect-w-1 md:aspect-h-1 xl:aspect-w-1 xl:aspect-h-1">
                    <div class="w-30 h-40 sm:w-30 sm:h-40 overflow-hidden rounded-s-xl bg-gray-200">
                        <img src="{{ product.get_thumbnail }}" alt="Image of {{ product.title }}" class="object-cover object-center w-full h-full group-hover:opacity-75">
                    </div>
                </div> 
                
                <h3 class="mt-4 text-sm text-gray-700">{{ product.title }}</h3>
                <p class="mt-1 text-lg font-medium text-gray-900">₦{{ product.price }}</p>
                <p><strong class="text-gray-800">Status:</strong> {{ product.get_status_display }}</p>
            </a>
            {% endfor %}

            
        </div>
        <!-- Pagination links -->
      <div class="mt-8">
        {% if products.has_other_pages %}
          <nav class="flex items-center justify-center">
            <ul class="pagination">
              {% if products.has_previous %}
                <li>
                  <a href="?page=1" class="flex items-center justify-center w-8 h-8 bg-gray-200 text-gray-700 rounded-full hover:bg-gray-300 no-underline mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                  </a>
                </li>
              {% endif %}
  
              {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                  <li>
                    <a href="?page={{ num }}" class="flex items-center justify-center w-8 h-8 bg-teal-500 text-white rounded-full hover:bg-teal-600 no-underline mr-1">{{ num }}</a>
                  </li>
                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                  <li>
                    <a href="?page={{ num }}" class="flex items-center justify-center w-8 h-8 bg-gray-200 text-gray-700 rounded-full hover:bg-gray-300 no-underline mr-1">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
  
              {% if products.has_next %}
                <li>
                  <a href="?page={{ products.paginator.num_pages }}" class="flex items-center justify-center w-8 h-8 bg-gray-200 text-gray-700 rounded-full hover:bg-gray-300 no-underline mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      </div>
        </div>
        </div>
        {% else %}
                <p class="py-4 mt-4 px-8 bg-gray-200">You don't have any product yet....</p>
        {% endif %}

{% endblock %}