{% extends "core/base.html" %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold mb-4 text-center">Password change</h1>
  <p class="text-lg text-center mb-4">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
  <form method="POST" class="w-full max-w-md bg-gray-100 p-6 rounded-xl">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-4">
        <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="w-full py-2 px-4 bg-white rounded-xl border-2 border-gray-300 focus:outline-none focus:border-teal-500">
        {% if field.errors %}
          <p class="text-red-500 text-sm mt-1">{{ field.errors|join:", " }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <div class="flex justify-center">
      <input type="submit" value="Change my password" class="py-2 px-4 bg-teal-500 hover:bg-teal-800 text-white rounded cursor-pointer">
    </div>
  </form>
</div>
{% endblock content %}
