Subject: Password Reset Request

Someone has requested a password reset for the email address: {{ email }}.

If you didn't initiate this request, please disregard this email. Your account's security remains intact.

To proceed with the password reset, click the following link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

The password reset link is valid for the next 10 minutes After that, you'll need to request another password reset.

If you're having trouble clicking the password reset link, you can copy and paste the following URL into your web browser's address bar:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you need further assistance, please contact our support team.

Thank you,
NaijaKet Team
