{% extends "core/base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
  <div class="w-full max-w-lg bg-gray-100 p-6 rounded-xl">
    <h1 class="mb-6 text-2xl text-center">Reset your password</h1>

    {% if validlink %}
      <p class="text-center">Please enter your new password twice:</p>
      <form action="." method="post" class="mt-4 space-y-3">
        {% csrf_token %}
        <div class="mb-4">
          <label for="new_password1" class="block">Password</label>
          <input type="password" id="new_password1" name="new_password1" class="w-full py-2 px-4 bg-white rounded-xl">
        </div>
        <div class="mb-4">
          <label for="new_password2" class="block">Repeat password</label>
          <input type="password" id="new_password2" name="new_password2" class="w-full py-2 px-4 bg-white rounded-xl">
        </div>
        {% if form.errors %}
          <div class="text-red-500">
            {% for field in form %}
              {% for error in field.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            {% endfor %}
          </div>
        {% endif %}
        <div>
          <input type="submit" value="Change my password" class="w-full py-2 px-4 bg-teal-500 text-white rounded cursor-pointer">
        </div>
      </form>
    {% else %}
      <p class="mt-4 text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
