{% extends "core/base.html" %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold mb-4 text-center">Password change successful</h1>
  <p class="text-lg mb-4 text-center">Your password was changed.</p>
  <p class="text-center">
    <a href="{% url 'myaccount' %}" class="text-blue-500 underline">
      Please return to your Account
    </a>
  </p>
</div>
{% endblock content %}
