{% extends 'core/base.html' %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}

<style>
    .carousel-image {
    width: 400px;
    height: 200px;
}

/* Media query for desktop screens */
@media (min-width: 500px) {
        .carousel-image {
            width: 700px;
            height: 400px;
        }
    }
</style>

    <div class="container mx-auto px-4 py-6">
        <nav class="text-sm" aria-label="Breadcrumb">
            <ol class="list-none p-0 inline-flex">
                <li class="flex items-center">
                    <a href="{% url 'category_detail' category.slug %}" class="text-gray-500 hover:text-gray-700">{{ category.title }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-gray-400">
                        <path fill-rule="evenodd" d="M5.672 4.292a1 1 0 010 1.414L9.657 10l-3.985 3.292a1 1 0 11-1.414-1.528l4-3.5a1 1 0 010-1.5l-4-3.5a1 1 0 111.414-1.528l3.985 3.292z" clip-rule="evenodd" />
                    </svg>
                </li>
                <li class="flex items-center">
                    <a href="{% url 'subcategory_detail' category.slug subcategory.slug %}" class="text-gray-500 hover:text-gray-700">{{ subcategory.title }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-gray-400">
                        <path fill-rule="evenodd" d="M5.672 4.292a1 1 0 010 1.414L9.657 10l-3.985 3.292a1 1 0 11-1.414-1.528l4-3.5a1 1 0 010-1.5l-4-3.5a1 1 0 111.414-1.528l3.985 3.292z" clip-rule="evenodd" />
                    </svg>
                </li>
                <li class="text-gray-500">{{ product.title }}</li>
            </ol>
        </nav>
        <!--Images-->
        <div class="mt-8 grid gap-8 grid-cols-1 lg:grid-cols-3">
            <div class="lg:col-span-2 ">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                  
                      {% if product.image %}
                      <div class="carousel-item active">
                        <img src="{{ product.image.url }}" alt="Product Image" class="carousel-image">
                      </div>
                      {% else %}
                      <div class="carousel-item active">
                        <img src="{{ product.get_thumbnail }}" alt="Product Image" class="carousel-image">
                      </div>
                      {% endif %}
                  
                      {% if product.image_2 %}
                      <div class="carousel-item">
                        <img src="{{ product.image_2.url }}" alt="Product Image" class="carousel-image">
                      </div>
                      {% endif %}
                      {% if product.image_3 %}
                      <div class="carousel-item">
                        <img src="{{ product.image_3.url }}" alt="Product Image" class="carousel-image">
                      </div>
                      {% endif %}
                      {% if product.image_4 %}
                      <div class="carousel-item">
                        <img src="{{ product.image_4.url }}" alt="Product Image" class="carousel-image">
                      </div>
                      {% endif %}
                    </div>

                    <!--Carouse navigation buttons-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <!--Product Details-->
            <div class="space-y-4">
                <h1 class="text-2xl font-bold">{{ product.title }}</h1>
                <p class="text-xl font-bold mt-44">₦{{ product.price }}</p>
                <p>More from - <a href="{% url 'vendor_detail' product.user.id %}" class="text-teal-500">{{ product.user.username }}</a></p>

                {% if request.user.is_authenticated %}
                    <p>
                        <a href="tel:{{ owner_profile.company_whatsapp_number }}" class="block text-center">
                            <button type="button" class="w-full py-2 px-4 bg-teal-500 text-white rounded-md hover:bg-teal-600">Call to Order</button>
                        </a>
                    </p>
                    <p>
                        <a href="https://wa.me/{{ owner_profile.company_whatsapp_number }}" class="block text-center">
                            <button type="button" class="w-full py-2 px-4 bg-green-500 text-white rounded-md hover:bg-green-600">WhatsApp</button>
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-map-marker text-2xl" aria-hidden="true"></i>
                        {{ owner_profile.lga }}, <span class="uppercase">{{ owner_profile.state }}</span>
                    </p>
                {% else %}
                    <a href="{% url 'login' %}" class="block text-center">
                        <button type="button" class="w-full py-2 px-4 bg-teal-500 text-white rounded-md hover:bg-teal-600">Login to make an order</button>
                    </a>
                {% endif %}

                
            </div>
              {% if product.description %}
              <div class="lg:col-span-3">
                  <h3 class="text-xl font-bold">Description</h3>
                  <p class="text-gray-800 whitespace-pre-wrap break-words">{{ product.description }}</p>
              </div>
              {% endif %}
        </div>
    </div>
{% endblock %}
